.Rproj.user/4FE6FCF/sdb/s-80A5F929/CACCB2DF
.Rproj.user/4FE6FCF/sdb/s-80A5F929/lock_file
*.Rproj
*.db
*.RData
*.Rhistory
*.pper
.Rproj.user/4FE6FCF/persistent-state
.Rproj.user/4FE6FCF/sdb/prop/1F5DE9CD
.Rproj.user/4FE6FCF/sdb/prop/A155A610
.Rproj.user/4FE6FCF/sdb/prop/INDEX
.Rproj.user/4FE6FCF/sdb/s-BCB6C127/D768F04
.Rproj.user/4FE6FCF/sdb/s-BCB6C127/lock_file
.Rproj.user/4FE6FCF/sdb/s-BCB6C127/CACCB2DF
.Rproj.user/4FE6FCF/sdb/s-BCB6C127/C7D79BF4
.Rproj.user/4FE6FCF/sdb/prop/E8BCA8A
.Rproj.user/4FE6FCF/sdb/prop/E35751A3
.Rproj.user/4FE6FCF/sdb/s-BCB6C127/9AD1E527
.Rproj.user/4FE6FCF/sdb/per/t/9AD1E527
.Rproj.user/4FE6FCF/sdb/per/t/C7D79BF4
.Rproj.user/4FE6FCF/sdb/per/t/D768F04
.Rproj.user/4FE6FCF/sdb/per/u/3238B377
.Rproj.user/4FE6FCF/sdb/prop/940C5C9D
.Rproj.user/4FE6FCF/sdb/per/t/CACCB2DF
Data/household_power_consumption.txt
.Rproj.user/4FE6FCF/sdb/prop/3BFCC144
.Rproj.user/4FE6FCF/sdb/s-F235C736/lock_file
.Rproj.user/4FE6FCF/sdb/per/t/67620E42
.Rproj.user/4FE6FCF/sdb/prop/568C6F8A
.Rproj.user/4FE6FCF/sdb/s-279983D9/E9A65F3
.Rproj.user/4FE6FCF/sdb/s-279983D9/lock_file
.Rproj.user/4FE6FCF/sdb/prop/8FBC8AE4
.Rproj.user/4FE6FCF/sdb/s-279983D9/F69CC045